#juris-tree {
    overflow-y: scroll;
    position: absolute;
    background: #fff;
    width: 1200px;
    right: -10px;
    border: 1px solid gray;
    z-index: 10;
    display: grid;
    column-gap: 30px;
    row-gap: 1.5em;
    grid-template-columns: repeat(4, 1fr);
}

.hummingbird-treeview,
.hummingbird-treeview *
{
    list-style: none;
    font-size: 15px;
    line-height: 24px;
}

.hummingbird-treeview label {
    font-weight: normal;
    display:inline-block;
    
}

.hummingbird-treeview input[type=checkbox] {
    width : 16px;
    height :16px;
    padding: 0px;
    margin: 0px;
}

.hummingbird-end-node {
    margin-left: 20px !important;
}

.hummingbird-treeview li ul {
    padding-left: 35px;
}

.hummingbird-treeview ul:not(.hummingbird-base) {
    display: none;
}

.hummingbird-treeview .fa::before, .hummingbird-treeview .icon::before {
    font-weight:bold;
}

.hummingbird-treeview .fa, .hummingbird-treeview .icon {
    font-style: normal;
    cursor: pointer;
    font-weight: bold;
    vertical-align: text-bottom;
}