.practiceareacontainer .searchbox {
    /* max-width:none !important; */
}

.comp.practiceareacontainer .headerpod-wrapper {
    padding-top:0px !important;
}

.pod-wrapper.browse {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

.landing.searchbox>section {
    padding:0 !important;
    margin:0;
    border:1px solid #d2d4d5;
    background: none;
}

.landing.searchbox .input {
    border-right: 1px solid #D2D4D4;
}

.searchbox button.la-Search {
    height: 36px;
    width: 39px;
    background: none;
    color: #fff;
    box-shadow: none;
    text-shadow: none;
    transition: all ease .4s;
}

.searchbox button.la-Search:hover {
    box-shadow: none !important;
}

.searchbox button.la-Search::before {
    color:red !important;
}


/* Explore Content Updates */
[data-podcssid=id-4t8c9gk] div.podwrapper {
    border-top: none !important;
}

[data-podcssid=id-4t8c9gk] h2.header {
    display:none;
}

.browse .podwrapper {
    border: none;
}

.browse ul.tabheaders {
    background:none;
}

.browse ul.tabheaders button {
    border:none !important;
    outline:none !important;
    font-size:1.3em
}

.browse ul.tabheaders .active button {
    color: inherit !important;
    font-weight:bold;
    background: #fff;
    border-bottom: 3px solid red !important;
    margin-bottom: -1px;
}

h2.sectionheader {
    font-size:3em ;
    font-family:lato-thin;
    margin:50px 0 30px;
}

.browse .pipeicon, .browse li.item>button.la-Info  {
    display:none !important;
}

#grid-container { display:none !important; }