.landing.searchbox>section {
    padding:0 !important;
    margin:0;
    border:1px solid red;
    background: none;
}

.searchbox button.la-Search {
    height: 36px;
    width: 39px;
    background: none;
    color: #fff;
    box-shadow: none;
    text-shadow: none;
    transition: all ease .4s;
}

.searchbox button.la-Search:hover {
    box-shadow: none !important;
}

.searchbox button.la-Search::before {
    color:red !important;
}